.privacy_policy_content_section {
  padding: 132px 0 50px;
  @media (max-width: $tablet-lg) {
    padding-top: 110px;
  }
  @media (max-width: $tablet-sm) {
    padding-top: 100px;
  }
  @media (max-width: $mobile-lg) {
    padding-top: 80px;
  }
  img{
    margin-bottom: 40px
  }
  h1 {
    @include font(45px, 1.5, 700, $color-black);
    margin-bottom: 30px;
    text-transform: capitalize;
    @media (max-width: $mobile-lg) {
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
  p {
    @include font(16px, 1.5, 400, $color-black);
    margin-bottom: 20px;
    @media (max-width: $mobile-lg) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}
