.innerpage_banner {
  margin-top: 132px;
  margin-bottom: 50px;
  @media (max-width: $tablet-lg) {
    margin-top: 110px;
  }
  @media (max-width: $tablet-sm) {
    margin-top: 100px;
  }
  @media (max-width: $mobile-lg) {
    margin-top: 80px;
  }
  .banner_wrap {
    position: relative;
    width: 100%;
    height: 560px;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: $mobile-lg) {
      border-radius: 10px;
      height: 460px;
    }
    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      z-index: 1;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   inset: 0;
    //   z-index: 2;
    //   background-color: rgba($color: #000000, $alpha: 0.5);
    // }
    .banner_cnt_wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 5;
      transform: translate(-50%, -50%);
      @media (max-width: $tablet-sm) {
        width: 100%;
      }
      span {
        @include font(22px, 1.6, 500, $color-black);
        display: block;
        text-align: center;
        font-family: $base-font-family;
        margin-bottom: 6px;
        @media (max-width: $mobile-lg) {
          font-size: 18px;
        }
      }
      h1 {
        @include font(62px, 1.2, 400, $color-black);
        margin-bottom: 5px;
        text-align: center;
        @media (max-width: $tablet-sm) {
          font-size: 55px;
        }
        @media (max-width: $mobile-lg) {
          font-size: 36px;
        }
      }
      p {
        @include font(18px, 1.6, 400, $color-black);
        text-align: center;
        max-width: 655px;
        margin: auto;
        @media (max-width: $tablet-sm) {
          max-width: calc(100% - 30px);
        }
        @media (max-width: $mobile-lg) {
          font-size: 14px;
        }
      }
    }
  }
  &.dark_bg {
    .banner_wrap .banner_cnt_wrapper span,
    .banner_wrap .banner_cnt_wrapper h1,
    .banner_wrap .banner_cnt_wrapper p {
      color: $color-white;
    }
  }
}
.classes_grid {
  padding: 74px 0 50px;
  @media (max-width: $mobile-lg) {
    padding: 30px 0 50px;
  }
  .class_grid_item {
    width: 100%;
    margin-bottom: 50px;
    display: block;
    figure {
      width: 100%;
      height: auto;
      aspect-ratio: 1/0.8;
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 12px;
      @media (max-width: $mobile-lg) {
        aspect-ratio: 1/0.6;
      }
      img {
        transform: translateZ(0) scale(1.1);
        transition: 0.5s all ease-out;
        object-fit: cover;
      }
    }
    h4 {
      @include font(18px, 1.4, 600, $color-black);
      font-family: $base-font-family;
      text-transform: uppercase;
    }
    &:hover {
      @media (min-width: $tablet-lg) {
        figure img {
          transform: translateZ(0) scale(1);
        }
      }
    }
  }
}
.download_paper_accordian {
  padding: 80px 0 60px;
  @media (max-width: $mobile-lg) {
    padding: 30px 0 30px;
  }
  .accordion {
    .accordion-item {
      border: 0;
      margin-bottom: 5px;
      .accordion-header {
        .accordion-button {
          background-color: $color-purple-heart;
          @include font(24px, 1.4, 600, $color-white);
          display: flex;
          align-items: center;
          font-family: $base-font-family;
          justify-content: space-between;
          border-radius: 10px;
          @media (max-width: $mobile-lg) {
            font-size: 16px;
          }
          &::after {
            content: none;
          }
          &:focus {
            box-shadow: none;
          }
          svg {
            width: 30px;
            height: 30px;
            flex: 0 0 30px;
            margin-left: 15px;
            transition: 0.3s all ease-in-out;
            @media (max-width: $mobile-lg) {
              width: 20px;
              flex: 00 0 20px;
            }
            path {
              fill: $color-white;
            }
          }
          &:not(.collapsed) {
            // color: $color-purple-heart;
            svg {
              transform: rotate(45deg);
            }
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          ul {
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 14px 0;
              h5,
              a {
                @include font(21px, 1.1, 400, $color-black);
                font-family: $base-font-family;
                display: flex;
                align-items: center;

                span {
                  font-size: inherit;
                  font-family: inherit;
                  color: inherit;
                  @media (max-width: $mobile-lg) {
                    display: none;
                  }
                }
                svg {
                  width: 26px;
                  height: auto;
                  margin-left: 9px;
                }
              }
              & + li {
                border-top: 1px solid $color-black;
              }
            }
          }
        }
      }
    }
  }
}
